In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("datasets/bank_data.csv")
df.head()

,ClientID,FirstName,LastName,TransactionDate,TransactionAmount,TransactionType,Balance,Branch,EMBG
0,52,Bojan,Ilievski,2023-08-28,9410.54,Payment,49572.73,Prilep,5629837193451
1,93,Aleksandar,Nikolovski,2023-05-24,9543.89,Deposit,23567.80,Prilep,2666827021277
2,15,Dragana,Stojanovski,2023-04-07,9157.16,Transfer,21740.81,Kumanovo,8939633404304
3,15,Dragana,Stojanovski,2023-04-07,9157.16,Transfer,21740.81,Kumanovo,8939633404304
4,72,Dragana,Ilievski,2023-07-20,3764.57,Payment,39938.58,Bitola,3677826407166

In [4]:
row_level_duplicates = df.duplicated() # true / false za site redovi

In [6]:
row_level_duplicates.sum() # gi sobira site redovi kade imame true

2

In [7]:
df[row_level_duplicates] #go filtrira df i prikazuva sekade kade sto imame true

,ClientID,FirstName,LastName,TransactionDate,TransactionAmount,TransactionType,Balance,Branch,EMBG
3,15,Dragana,Stojanovski,2023-04-07,9157.16,Transfer,21740.81,Kumanovo,8939633404304
18,2,Dragana,Jovanovska,2023-11-04,9367.93,Transfer,22514.08,Tetovo,2544884710275

In [12]:
df.drop_duplicates(inplace=True)
df = df.drop_duplicates()

In [14]:
df.duplicated().sum()

0

In [16]:
full_name_duplicates = df.duplicated(subset=["FirstName", "LastName"])

In [17]:
full_name_duplicates.sum()

69

In [18]:
df[full_name_duplicates]

,ClientID,FirstName,LastName,TransactionDate,TransactionAmount,TransactionType,Balance,Branch,EMBG
8,87,Elena,Jovanovska,2023-12-15,9669.88,Deposit,24304.73,Bitola,2918675265505
10,75,Elena,Jovanovska,2023-05-28,8544.79,Withdrawal,38954.43,Bitola,1710606249440
11,88,Aleksandar,Nikolovski,2023-09-09,3015.04,Withdrawal,9640.57,Prilep,5377851400733
12,100,Aleksandar,Nikolovski,2023-12-12,3912.47,Withdrawal,45614.88,Prilep,4257834065001
23,64,Cvetan,Stojanovski,2023-05-09,9901.53,Payment,47752.79,Prilep,3591358292649
...,...,...,...,...,...,...,...,...,...
117,61,Dragana,Nikolovski,2023-05-04,253.02,Deposit,20336.16,Prilep,1554103192986
118,54,Gordana,Georgievski,2023-01-22,4148.63,Withdrawal,17857.04,Kumanovo,1406297217650
119,93,Aleksandar,Nikolovski,2023-08-26,1815.61,Transfer,44086.96,Tetovo,8879542832410
120,24,Gordana,Georgievski,2023-05-27,8526.25,Deposit,27736.36,Kumanovo,1047068867837
121,59,Bojan,Nikolovski,2023-03-01,8120.12,Withdrawal,40532.82,Ohrid,9011585137511

In [20]:
df.drop_duplicates(subset=["FirstName", "LastName"], inplace=True)

In [21]:
len(df)

51

In [22]:
df = pd.read_csv("datasets/bank_data.csv")
df.head()

,ClientID,FirstName,LastName,TransactionDate,TransactionAmount,TransactionType,Balance,Branch,EMBG
0,52,Bojan,Ilievski,2023-08-28,9410.54,Payment,49572.73,Prilep,5629837193451
1,93,Aleksandar,Nikolovski,2023-05-24,9543.89,Deposit,23567.80,Prilep,2666827021277
2,15,Dragana,Stojanovski,2023-04-07,9157.16,Transfer,21740.81,Kumanovo,8939633404304
3,15,Dragana,Stojanovski,2023-04-07,9157.16,Transfer,21740.81,Kumanovo,8939633404304
4,72,Dragana,Ilievski,2023-07-20,3764.57,Payment,39938.58,Bitola,3677826407166

In [24]:
full_name_duplicates = df.duplicated(subset=["FirstName", "LastName"])
df[full_name_duplicates]

,ClientID,FirstName,LastName,TransactionDate,TransactionAmount,TransactionType,Balance,Branch,EMBG
3,15,Dragana,Stojanovski,2023-04-07,9157.16,Transfer,21740.81,Kumanovo,8939633404304
8,87,Elena,Jovanovska,2023-12-15,9669.88,Deposit,24304.73,Bitola,2918675265505
10,75,Elena,Jovanovska,2023-05-28,8544.79,Withdrawal,38954.43,Bitola,1710606249440
11,88,Aleksandar,Nikolovski,2023-09-09,3015.04,Withdrawal,9640.57,Prilep,5377851400733
12,100,Aleksandar,Nikolovski,2023-12-12,3912.47,Withdrawal,45614.88,Prilep,4257834065001
...,...,...,...,...,...,...,...,...,...
117,61,Dragana,Nikolovski,2023-05-04,253.02,Deposit,20336.16,Prilep,1554103192986
118,54,Gordana,Georgievski,2023-01-22,4148.63,Withdrawal,17857.04,Kumanovo,1406297217650
119,93,Aleksandar,Nikolovski,2023-08-26,1815.61,Transfer,44086.96,Tetovo,8879542832410
120,24,Gordana,Georgievski,2023-05-27,8526.25,Deposit,27736.36,Kumanovo,1047068867837
121,59,Bojan,Nikolovski,2023-03-01,8120.12,Withdrawal,40532.82,Ohrid,9011585137511

In [27]:
df["IsDuplicate"] = df.duplicated(subset=["FirstName", "LastName"])

In [28]:
df

,ClientID,FirstName,LastName,TransactionDate,TransactionAmount,TransactionType,Balance,Branch,EMBG,IsDuplicate
0,52,Bojan,Ilievski,2023-08-28,9410.54,Payment,49572.73,Prilep,5629837193451,False
1,93,Aleksandar,Nikolovski,2023-05-24,9543.89,Deposit,23567.80,Prilep,2666827021277,False
2,15,Dragana,Stojanovski,2023-04-07,9157.16,Transfer,21740.81,Kumanovo,8939633404304,False
3,15,Dragana,Stojanovski,2023-04-07,9157.16,Transfer,21740.81,Kumanovo,8939633404304,True
4,72,Dragana,Ilievski,2023-07-20,3764.57,Payment,39938.58,Bitola,3677826407166,False
...,...,...,...,...,...,...,...,...,...,...
117,61,Dragana,Nikolovski,2023-05-04,253.02,Deposit,20336.16,Prilep,1554103192986,True
118,54,Gordana,Georgievski,2023-01-22,4148.63,Withdrawal,17857.04,Kumanovo,1406297217650,True
119,93,Aleksandar,Nikolovski,2023-08-26,1815.61,Transfer,44086.96,Tetovo,8879542832410,True
120,24,Gordana,Georgievski,2023-05-27,8526.25,Deposit,27736.36,Kumanovo,1047068867837,True
121,59,Bojan,Nikolovski,2023-03-01,8120.12,Withdrawal,40532.82,Ohrid,9011585137511,True

In [29]:
df.drop_duplicates(subset=["FirstName", "LastName"], keep="first", inplace=True)

In [30]:
df

,ClientID,FirstName,LastName,TransactionDate,TransactionAmount,TransactionType,Balance,Branch,EMBG,IsDuplicate
0,52,Bojan,Ilievski,2023-08-28,9410.54,Payment,49572.73,Prilep,5629837193451,False
1,93,Aleksandar,Nikolovski,2023-05-24,9543.89,Deposit,23567.80,Prilep,2666827021277,False
2,15,Dragana,Stojanovski,2023-04-07,9157.16,Transfer,21740.81,Kumanovo,8939633404304,False
4,72,Dragana,Ilievski,2023-07-20,3764.57,Payment,39938.58,Bitola,3677826407166,False
5,61,Dragana,Nikolovski,2023-05-04,253.02,Deposit,20336.16,Prilep,3481653770314,False
6,21,Elena,Jovanovska,2023-07-06,9290.35,Withdrawal,46884.08,Prilep,2867894810726,False
7,83,Aleksandar,Jovanovska,2023-11-22,4339.02,Withdrawal,43628.57,Bitola,4281271102177,False
9,75,Gordana,Jovanovska,2023-09-16,9639.84,Transfer,38789.20,Prilep,6718952734968,False
13,24,Gordana,Georgievski,2023-05-27,8526.25,Deposit,27736.36,Kumanovo,6814393228048,False
14,3,Aleksandar,Angelovska,2023-05-28,3237.53,Payment,42190.59,Skopje,1877071538301,False
15,22,Hristijan,Petrovski,2023-12-18,1777.98,Withdrawal,19402.23,Prilep,9188515194990,False
16,53,Aleksandar,Mitrevski,2023-07-18,5612.33,Payment,45298.55,Ohrid,4266151341718,False
17,2,Dragana,Jovanovska,2023-11-04,9367.93,Transfer,22514.08,Tetovo,2544884710275,False
19,88,Hristijan,Stojanovski,2023-05-08,6990.69,Withdrawal,5487.69,Skopje,8384816853272,False
20,30,Hristijan,Mitrevski,2023-02-08,5743.61,Withdrawal,45742.19,Skopje,1399316468383,False
21,38,Gordana,Nikolovski,2023-12-04,1062.05,Transfer,9107.90,Skopje,9459375898684,False
22,2,Cvetan,Stojanovski,2023-12-26,6188.57,Withdrawal,19369.11,Kumanovo,5416708498897,False
24,60,Aleksandar,Stojanovski,2023-09-24,1486.83,Deposit,47777.32,Kumanovo,7135570012997,False
25,21,Hristijan,Georgievski,2023-05-31,5231.46,Payment,30804.70,Prilep,5730176759513,False
26,33,Cvetan,Nikolovski,2023-10-25,8785.99,Deposit,33432.67,Kumanovo,8886941142938,False
29,22,Cvetan,Ilievski,2023-09-09,7054.59,Payment,19789.90,Ohrid,6497921136647,False
30,89,Elena,Stojanovski,2023-05-24,3658.96,Payment,35263.33,Kumanovo,3682624882530,False
31,49,Bojan,Georgievski,2023-12-12,3006.56,Payment,38856.85,Tetovo,6484614211251,False
32,91,Gordana,Mitrevski,2023-04-22,8112.68,Transfer,40621.06,Bitola,3744157863991,False
33,59,Bojan,Nikolovski,2023-03-01,8120.12,Withdrawal,40532.82,Ohrid,4114865402381,False
35,92,Dragana,Georgievski,2023-10-31,9141.08,Payment,27248.91,Skopje,2563635849881,False
36,60,Gordana,Stojanovski,2023-09-11,5162.29,Payment,7590.14,Bitola,3255492364986,False
38,15,Hristijan,Ilievski,2023-02-06,8003.12,Transfer,24868.87,Tetovo,5426767668226,False
41,47,Aleksandar,Petrovski,2023-08-21,7978.35,Payment,10268.02,Kumanovo,3079547074587,False
42,62,Hristijan,Jovanovska,2023-04-09,8911.05,Withdrawal,11434.63,Kumanovo,4064733893670,False
43,51,Gordana,Angelovska,2023-05-27,3446.15,Transfer,39267.98,Skopje,9490466198800,False
45,64,Filip,Georgievski,2023-07-27,1030.42,Deposit,9550.52,Skopje,7886357736841,False
46,3,Hristijan,Nikolovski,2023-05-11,5824.97,Deposit,8784.81,Bitola,1286254514408,False
47,51,Elena,Angelovska,2023-06-01,455.83,Deposit,36543.61,Skopje,1475611030997,False
48,7,Cvetan,Angelovska,2023-02-23,4709.42,Transfer,8274.34,Ohrid,9940222427758,False
49,21,Dragana,Angelovska,2023-04-30,5472.18,Transfer,41983.70,Kumanovo,7622408559283,False
51,39,Filip,Jovanovska,2023-04-26,5949.25,Payment,8660.70,Skopje,8564486897082,False
55,60,Cvetan,Petrovski,2023-12-06,3665.89,Payment,21678.90,Skopje,8444747519557,False
58,90,Filip,Nikolovski,2023-04-22,7722.94,Payment,49370.05,Bitola,4255806983042,False
59,53,Cvetan,Mitrevski,2023-04-09,2236.63,Deposit,38902.02,Skopje,2039460436510,False
61,84,Elena,Georgievski,2023-12-15,944.94,Payment,8757.53,Skopje,6355380162565,False
62,92,Bojan,Stojanovski,2023-12-04,611.65,Transfer,39971.61,Kumanovo,8541607788618,False
63,60,Gordana,Ilievski,2023-07-13,5360.41,Withdrawal,30128.19,Tetovo,1012907665230,False
65,44,Filip,Angelovska,2023-06-12,6410.56,Deposit,45785.95,Skopje,5066564635197,False
67,47,Cvetan,Georgievski,2023-06-18,9760.94,Withdrawal,27168.13,Kumanovo,4635840297674,False
69,78,Gordana,Petrovski,2023-03-09,3297.27,Transfer,26089.73,Ohrid,7265664002220,False
71,36,Bojan,Jovanovska,2023-10-04,2781.24,Withdrawal,10346.81,Kumanovo,8774747681491,False
73,4,Dragana,Mitrevski,2023-05-15,876.72,Deposit,34214.46,Kumanovo,1483311982731,False
74,2,Elena,Ilievski,2023-07-14,350.97,Withdrawal,38572.02,Bitola,3399629281280,False
80,63,Dragana,Petrovski,2023-06-07,1648.73,Deposit,15061.81,Skopje,1041010938116,False
85,74,Elena,Nikolovski,2023-09-21,2871.35,Withdrawal,45101.44,Kumanovo,9566197021582,False